<div id="album" *ngIf="album">
<div class="container">


<header class="album-header">

  <div class="row">
    <div class="col-md-3">
      <img src="{{album.images[0].url}}" class="album-thumb">
    </div>
    <div class="col-md-9">
        <h4 *ngIf="album.artists.length > 0">
          <span *ngFor="let artist of album.artists">{{artist.name}}</span>
        </h4>
        <h2>{{album.name}}</h2>
        <h5>{{album.release}}</h5>
        <a class="btn btn-primary" target="_blank"
         href="{{album.external_urls.spotify}}">Go to Spotify</a>
    </div>
  </div>

</header>

<div class="album-tracks">
  <h2>Album tracks</h2>
  <div *ngFor="let track of album.tracks.items">
     <div class="well well-sm">
       <h5>{{track.track_number}} - {{track.name}}
       &nbsp;<a href="{{track.preview_url}}" target="_blank">Preview Track</a>
     </h5>

     </div>

  </div>
</div>

</div>
</div>
