<div class="container">

<div class="row">
  <ol class="breadcrumb">
  <li><a routerLink="">Home</a></li>
  <li>Subscribe</li>
  </ol>
</div>

<div class="row" *ngIf="noJoke">
  <form novalidate (ngSubmit)="submitSubscription()" #subscribeFrm="ngForm">

  <div class="form-group">
    <label for="name">Your Name</label>
    <input [(ngModel)]="model.name" name="name" type="text" class="form-control"
    id="name" placeholder="Your name" ngControl="name" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Your Name is required</div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="model.email" name="email" class="form-control"
    id="email" placeholder="Email" ngControl="email" required #email="ngModel"
    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <div [hidden]="email.pristine ||email.valid || !email.errors.pattern" class="alert alert-danger">A valid Email is required</div>
    </div>

  <div class="form-group">
    <label for="body">Message</label>
    <textarea  [(ngModel)]="model.message" name="message"class="form-control" id="message"
    ngControl="message" required #message="ngModel" placeholder="Tell us something about you"></textarea>
    <div [hidden]="message.valid || message.pristine" class="alert alert-danger">Please, tell us a something about you</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!subscribeFrm.form.valid">Subscribe</button>
</form>
</div>

<div class="row" *ngIf="!noJoke" id='joke'>
  <img src="{{image}}" class="img-rounded">
  <p class="lead">{{joke}}</p>
</div>

</div>
